---
title: Home
layout: sidebar 
footer_scripts:
    - //d3js.org/d3.v3.min.js
    - //cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js
    - //cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js
footer_script_include: index_footer_scripts.html
sidebar_include: index_sidebar.html 
body_class: map
hide_default_heading: true
metadata_statuses:
    -
        class: "not-started"
        title: "Not started"
        description: "This state has not yet been assigned to a volunteer for metadata work, or work has not begun."
    -
        class: "partial"
        title: "In progress"
        description: "Volunteer has been assigned to this state, data source investigation and metadata entry are underway."
    -
        class: "up-to-date"
        title: "Up-to-date"
        description: "All metadata has been entered for races from 2000-2013 for this state."
results_statuses:
    -
        class: "not-started"
        title: "Not started"
        description: "This state has not yet been assigned to a volunteer for development work, or work has not begun."
    #-
    #    class: "partial"
    #    title: "In progress"
    #    description: "A volunteer developer is in the process of customizing a scraper to acquire and standardize results data from this state. (I know this oversimplifies, but we should find language that is also clear to non-devs)"
    -
        class: "raw"
        title: "Raw"
        description: "Data has been acquired from this state in its basic state, some common standard fields have been identified, and data for common results reporting levels are available."
    -
        class: "clean"
        title: "Clean"
        description: "Data has been fully processed to conform to OpenElection's results spec and is present at all available reporting levels."
---
<h2>Status of data collection</h2>

{% include legend.html legend_id="legend-metadata" statuses=page.metadata_statuses %}

{% include legend.html legend_id="legend-results" statuses=page.results_statuses %}

<div id="map"></div>
