<footer id="footer" class="bg-dark text-light py-3 mt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="mb-0 small">
          &copy; 2013-2025 OpenElections. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="https://github.com/openelections/" class="text-light text-decoration-none small" target="_blank" rel="noopener">
          <i class="fab fa-github me-2"></i>View on GitHub
        </a>
      </div>
    </div>
  </div>
</footer>
