<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} | OpenElections: Certified election results. For everyone.</title>

<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% for src in page.stylesheets %}
<link href="{{ src }}" rel="stylesheet">
{% endfor %}
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
