<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav navbar-nav navbar-icons navbar-right">
      <li><a href="https://twitter.com/openelex" class="new-window"><i class="fa fa-twitter"></i></a>
      <li><a href="http://vimeo.com/49450624" class="new-window"><i class="fa fa-vimeo-square"></i></a></li>
      <li><a href="mailto:openelections@gmail.com" class="new-window"><i class="fa fa-envelope"></i></a>
    </ul>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for p in site.pages %}
        {% if p.url != "/index.html" %}
        {% if p.url != "/results/index.html" %}
        {% if p.url contains "css" %}
        {% else %}
        <li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        <li><a href="http://blog.openelections.net" class="new-window external">Blog</a></li>
        <li><a href="https://github.com/openelections" class="new-window external">GitHub</a></li>
        <li><a href="http://docs.openelections.net/" class="new-window external">Documentation</a></li>
      </ul>
    </div>

  </div>
</nav>

<div id="logo-wrapper">
  <div class="container">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="OpenElections logo"></a>
  </div>
</div>
