<script src="{{ site.baseurl }}/js/states.js"></script>
<script src="{{ site.baseurl }}/js/render-map.js"></script>
<script>
$(function() {
  var states = new openelex.States();
  var metaTable = new openelex.StateMetadataTableView({
     collection: states
  });
  var resultsTable = new openelex.StateResultsTableView({
      collection: states
  });

  states.url = 'data/state_status-20140829.json';
  $('#map').after(metaTable.$el);
  metaTable.$el.after(resultsTable.$el);
  openelex.renderMap({
    states: states
  });

  states.fetch();

  $('.legend dt, .legend dd').popover();
});
</script>
