#toggle {
  margin-bottom: 10px;
}

.btn-toggle,
.btn-toggle:focus,
.btn-toggle:hover {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}

.btn-toggle {
  color: #fff;
  background-color: $light-gray; 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.74em;
  padding: 1px 2px;
}

.metadata .btn-metadata,
.results .btn-results {
  background-color: $dark-gray;
}

.legend {
  clear: both;
  // Correctly honor top-margin after the floated elements
  float: none;
  display: inline-block;
}

#legend-results {
  display: none; 
}

.legend dt {
  width: 40px;
  height: 20px;

  float: left;
  margin-bottom: 10px;
}

.legend dd {
  padding: 0 40px 0 45px;
  margin-bottom: 10px;

  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: bold;
}

#map {
  // Set so that total space between map and footer is ~75px
  padding-bottom: 40px;
}

.not-started, .metadata .metadata-not-started, .results .results-not-started {
  background-color: $not-started-color; 
  fill: $not-started-color; 
}

.partial, .raw, .metadata .metadata-partial, .results .results-raw {
  background-color: $partial-color;
  fill: $partial-color; 
}

.up-to-date, .clean, .metadata .metadata-up-to-date, .results .results-clean {
  background-color: $up-to-date-color; 
  fill: $up-to-date-color; 
}

.default-instructions {
  margin-top: 20px;
}

.infobox.results .metadata,
.infobox.results .results-detail,
.infobox.metadata .results, 
.infobox.metadata .results-detail, 
.infobox.results-detail .metadata,
.infobox.results-detail .results,
.metadata .table-states.results,
.results .table-states.metadata {
  display: none;
}

dt.results-status,
dt.detail-link,
dt.map-link {
  display: none;
}


dd.results-status,
dd.detail-link,
dd.map-link {
  text-transform: uppercase; 
  font-family: $font-stack-serif; 
  font-size: 1.3em;
  line-height: 1.3em;
}

dd.results-status {
  color: $dark-gray;
}

dd.detail-link,
dd.map-link {
  margin-top: 20px;

  color: $highlight-color;

  a {
    color: $highlight-color;

    &:after {
      position: relative;
      // Push the image down to align with the text
      top: 2px;
      padding-left: 4px;
    }
  }
}

dd.detail-link a:after {
  content: url('../img/icon/pink_arrow_right.png');
}

dd.map-link a:after {
  content: url('../img/icon/pink_arrow_left.png');
}

@media screen and (min-width: 520px) {
  body.map {
    #sidebar {
      text-align: right;
    }

    #main > h2:first-child {
      float: left;
    }
  }

  #toggle {
    float: left;
    margin-top: 24px; /* Match margin-top of h2 */
    margin-left: 25px;
  }

  .legend {
    width: 100%;
    margin-top: 20px;
    // Set this so there's ~75px of space between the bottom of the legend
    // and the top of the map.
    margin-bottom: 40px;

    dd {
      float: left;
      padding-left: 10px;
    }
  }

  body.map .legend dd {
    width: 170px;
  }

  .default-instructions {
    vertical-align: bottom;
    line-height: 1.1;
    padding-top: 12px;
  }

  .infobox dl {
    margin-top: 10px;
  }
}
