// Styles for the date range selections filter on the results download page

.ui-slider {
  border: 1px solid #aaaaaa;
  background-color: $light-gray-2; 

  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: default;

    // Make the border a circle
    border-radius: 50%;
    color: #555555;
    background: $highlight-color;
  }
  
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background: $dark-gray-2; 
  }
}

.ui-slider-horizontal {
  height: 0.5em; // ~5px

  .ui-slider-handle {
    top: -.34em;
    margin-left: -.5em;
  }
  
  .ui-slider-range {
    top: 0;
    height: 100%;
  }


}

#date-filter-container {
  position: relative;
  height: 140px;

  .elections {
    position: relative;
    width: 100%;
  }

  .election {
    position: absolute;
    top: 0;
    width: 5px;
    height: 65px;
    background-color: red;
    margin-left: -2.5px;
  }
}

#legend-race-type dd {
  /* Less padding on the right to fit legend all on one line */
  padding-right: 20px;
}

#legend-race-type .primary,
#date-filter-container .election.primary {
  background-color: $primary-elec-color; 
}

#legend-race-type .primary.special,
#date-filter-container .election.primary.special {
  background-color: $special-primary-elec-color; 
}

#legend-race-type .general,
#date-filter-container .election.general {
  background-color: $general-elec-color; 
}

#legend-race-type .general.special,
#date-filter-container .election.general.special {
  background-color: $special-general-elec-color; 
}

#legend-race-type .runoff,
#date-filter-container .general-runoff,
#date-filter-container .primary-runoff {
  background-color: $runoff-elec-color; 
}

.date-slider {
  position: absolute;
  top: 68px;
  width: 100%;

  label {
    position: absolute;
    min-width: 20px;
    border-left: #6a6e72 1px solid;
    margin-top: 0.6em;
    padding-left: 2px;
    color: #22262a;
    // HACK: Set background color to white to hide overlapping years
    background-color: #fff;

    font-size: 1.05em; // ~17px
  }
}
