$legend-title-font-size: 12px;
$legend-label-font-size: 12px;
$legend-number-font-size: 9px;
$timeline-number-font-size: 9px;

// The container for the visualization, this is created by the Backbone view
.results-visualization {
  // A total spacing between the visualization and the preceding header of 66px 
  // is desired.
  padding-top: 48px;
  // A total spacing between the slider bar in the visualization and the 
  // trailing header of 120px is desired.
  // There's already 20px of margin from the following header.
  padding-bottom: 24px;

  .help-block {
    font-size: $legend-label-font-size; 
    margin: 0;
    padding-top: 30px;
  }
}

.elections-viz {
  .hlines {
    .hline {
      stroke-width: 1;
      stroke: $light-gray-2;  
    }
  }

  .bar {
    fill: $light-gray-3;
  }

  .runoff {
    fill: $runoff-elec-color;
  }

  .special-primary {
    fill: $special-primary-elec-color;
  }

  .primary {
    fill: $primary-elec-color;
  }

  .special-general {
    fill: $special-general-elec-color;
  }

  .general {
    fill: $general-elec-color;
  }

  .axis {
    line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .domain {
      fill: none;
      stroke: none;
    }
  }

  .tick {
    text {
      font-size: $timeline-number-font-size;
    }
  }

  .legend-item {
    text {
      font-size: $legend-label-font-size;
    }
  }

  .regular-item, .special-item {
    text {
      font-size: $legend-number-font-size;
    }

    circle, rect {
      fill: $light-gray-2;
    }
  }
}

.slider {
  .background {
    fill: $light-gray-2;
  }

  .extent {
    fill: $dark-gray-2;
  }

  .resize circle {
    fill: $highlight-color;
  }
}
