#footer {
  margin-top: 20px;
  padding: 40px 0;

  background-color: rgb(224, 224, 224);
}

#footer h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

#footer .links {
  padding-left: 0;

  list-style-type: none;
}

#footer .links li {
  padding: 5px 0;
}

#footer .links li a {
  color: #777;
}
