.navbar {
  /* Use a thinner header than the Bootstrap default of 40px */
  min-height: 30px;

  /* Get rid of bottom padding so there's no gap below logo */
  margin-bottom: 0;
}

.navbar-header:after {
  clear: none;
}

.navbar-nav>li>a.external:before {
  content: '> ';
}

.navbar-icons>li {
  float: left;
}

#logo-wrapper {
  padding: 30px 0;
  margin-bottom: 20px;

  background-color: #dfd1cd;
}

#logo-wrapper img {
  width: 100%;
  max-width: 371px;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-nav>li:first-child>a {
    margin-left: -15px;
  }

  .navbar-icons>li:last-child>a {
    padding-right: 0;
  }
}
