#legend dt {
  width: 40px;
  height: 20px;

  float: left;
  margin-bottom: 10px;
}

#legend dd {
  font-weight: bold;
  padding: 0 40px 0 45px;
  margin-bottom: 10px;
}

#map {
  padding-bottom: 40px;
}

.not-started {
  background-color: #32348c;
  fill: #32348c;
}

.partial {
  background-color: #258bd1; 
  fill: #258bd1; 
}

.up-to-date {
  background-color: #8bac91;
  fill: #8bac91;
}

.default-instructions {
  margin-top: 20px;
}

@media screen and (min-width: 520px) {
  body.map #sidebar {
    text-align: right;
  }

  #legend {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  #legend dd {
    float: left;
    padding-left: 5px;
  }

  .default-instructions {
    vertical-align: bottom;
    line-height: 1.1;
    padding-top: 12px;
  }

  .infobox h2 {
    padding-top: 8px;
  }

  .infobox dl {
    margin-top: 30px;
  }
}
