.btn-toggle,
.btn-toggle:focus,
.btn-toggle:hover {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}

.btn-toggle {
  color: #fff;
  background-color: #999; /* Light gray */
  font-weight: bold;
  text-transform: uppercase;
}

.metadata .btn-metadata,
.results .btn-results {
  background-color: #333; /* Dark gray */
}

#legend-results {
  display: none; 
}

.legend dt {
  width: 40px;
  height: 20px;

  float: left;
  margin-bottom: 10px;
}

.legend dd {
  font-weight: bold;
  padding: 0 40px 0 45px;
  margin-bottom: 10px;
}

#map {
  padding-bottom: 40px;
}

.not-started, .metadata .metadata-not-started, .results .results-not-started {
  background-color: #32348c;
  fill: #32348c;
}

.partial, .raw, .metadata .metadata-partial, .results .results-raw {
  background-color: #258bd1; 
  fill: #258bd1; 
}

.up-to-date, .clean, .metadata .metadata-up-to-date, .results .results-clean {
  background-color: #8bac91;
  fill: #8bac91;
}

.default-instructions {
  margin-top: 20px;
}

.infobox.results .metadata,
.infobox.metadata .results {
  display: none;
}

dt.results-status,
dt.detail-link {
  display: none;
}

dd.results-status,
dd.detail-link {
  text-transform: uppercase; 
  font-weight: bold;
}

/* Note: Arrow icons are ef6c7f */
dd.detail-link a {
  color: #ed4c6b;
}

@media screen and (min-width: 520px) {
  body.map #sidebar {
    text-align: right;
  }

  .legend {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .legend dd {
    float: left;
    padding-left: 5px;
  }

  .default-instructions {
    vertical-align: bottom;
    line-height: 1.1;
    padding-top: 12px;
  }

  .infobox h2 {
    padding-top: 8px;
  }

  .infobox dl {
    margin-top: 30px;
  }
}
