
#legend {
  margin-bottom: 40px;
}

/*
#legend dt, #legend dd {
  float: left;
}
*/

#legend dt {
  width: 40px;
  height: 20px;

  float: left;
  margin-bottom: 10px;
}

#legend dd {
  font-weight: bold;
  padding: 0 40px 0 45px;
  margin-bottom: 10px;
}

@media screen and (min-width: 520px) {
  #legend dd {
    float: left;
    padding-left: 5px;
  }
}

.not-started {
  background-color: #32348c;
  fill: #32348c;
}

.partial {
  background-color: #4da6d5;
  fill: #4da6d5;
}

.up-to-date {
  background-color: #8bac91;
  fill: #8bac91;
}

.default-instructions {
  margin-top: 20px;
}
