.ui-slider {
  border: 1px solid #aaaaaa;
  background-color: #999; /* Light gray */
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: default;

  /* Make the border a circle */
  border-radius: 50%;
  color: #555555;
  background: #ed4c6b;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  background: #333; /* Dark gray */
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.2em;
  margin-left: -.5em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

#date-filter-container {
  position: relative;
  height: 150px;
}

#date-filter-container .elections {
  position: relative;
  width: 100%;
}

#date-filter-container .election {
  position: absolute;
  top: 0;
  width: 5px;
  height: 80px;
  background-color: red;
  margin-left: -2.5px;
}

#legend-race-type dd {
  /* Less padding on the right to fit legend all on one line */
  padding-right: 20px;
}

#legend-race-type .primary,
#date-filter-container .election.primary {
  background-color: #32348c; /* purple */
}

#legend-race-type .primary.special,
#date-filter-container .election.primary.special {
  background-color: #7b84ba; /* light purple */
}

#legend-race-type .general,
#date-filter-container .election.general {
  background-color: #258bd1; /* blue */
}

#legend-race-type .general.special,
#date-filter-container .election.general.special {
  background-color: #81c5e2; /* light blue */
}

#legend-race-type .runoff,
#date-filter-container .general-runoff,
#date-filter-container .primary-runoff {
  background-color: #8bac91; /* green */
}

.date-slider {
  position: absolute;
  top: 84px;
  width: 100%;
}

.ui-slider-horizontal {
  height: 0.7em;
}

.date-slider label {
  position: absolute;
  min-width: 20px;
  border-left: #000 1px solid;
  margin-top: 15px;
  padding-left: 2px;
  /* HACK: Set background color to white to hide overlapping years */
  background-color: #fff;
}
