<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.title | slugify | downcase }}{% if page.body_class %} {{ page.body_class }}{% endif %}">
    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        <main id="main" class="col-12">
            {% unless page.hide_default_heading %}
            <h1>{% if page.display_title %}{{ page.display_title }}{% else %}{{ page.title }}{% endif %}</h1>
            {% endunless %}
          {{ content }}
        </main>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
